.rodape {
    display: flex;
    justify-content: center;
    background-color: var(--preto);
}

.rodape h2 {
    font-weight: 400;
    font-size: 18px;
    color: var(--branco);
}

@media (max-width: 480px) {
    .rodape {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}